/*
* Form apearence
*/
@import url('./form.css');

/*
* Gallery apearence
*/
@import url('./gallery.css');

/*
* Common styles
*/
body {
    font-family: sans-serif;
    color: #434455;
    background-color: #ffffff;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

input {
    box-sizing: border-box;
    font-family: inherit;
}

.container {
    max-width: 1128px;
    /* height: 1240px; */
    padding: 36px 156px;
}